<div class="bg-full-image">

  <%= image_tag "GG_flower.jpg" %>

</div>

<div class="main-body">

  <h1>Welcome to the Grateful Garden</h1>

  <%= form_for @submission do |f| %>
    <p>
      <%= f.label '----->' %>
      <%= f.text_field :submission, placeholder: 'I\'m grateful for this' %>
      <%= f.submit 'I\'M GRATEFUL' %>
    </p>
  <% end %>

  <% @submissions.reverse.each do |input| %>
    <ul>
      <li>
        <%= input.submission %> - I'm grateful!
      </li>
    </ul>
  <% end %>

</div>